.bg-light{
  background-color: #40E0D0!important;
}
.dropdown-menu{
  background-color: #00CED1!important;
}
h1{
  text-align: center;
  padding-top: 20px;
  font-family: Gill Sans Extrabold, sans-serif;
  color: #008080;
}

.table{
margin: auto;
width: 70% !important;
}
th[role=columnheader]:not(.no-sort) {
cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
content: '';
float: right;
margin-top: 7px;
border-width: 0 4px 4px;
border-style: solid;
border-color: #404040 transparent;
visibility: hidden;
opacity: 0;
-ms-user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
border-bottom: none;
border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
visibility: visible;
opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
visibility: visible;
opacity: 1;
}

.bg-light{
  background-color: #40E0D0!important;
}
.dropdown-menu{
  background-color: #00CED1!important;
}

.bg-info{
  background-color: #E5E4E4!important;
}

.turbineMenu{
  right: 45px;
}
.turbineMenu .navbar-nav li {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.turbineMenu .navbar-nav li:hover {
  border-bottom: 3px solid #2bdccb;
}
.turbineMenu .navbar-nav li.active {
  border-bottom: 3px solid #1eb6a7;
}
.turbineMenu .navbar-nav a {
  align: right;
}

.kpiData{
  background-color: #b4e8e2;
  border: 2px solid #000;
  color: #000;
  height: 170px;
  font-size: 20px;
}
.kpiData1{
  background-color: #b4e8e2;
  border: 2px solid #000;
  color: #000;
  height: 300px;
  font-size: 20px;
}

.turbineData .table{
  border: 2px solid #000;
  width: 100% !important;
}

.activePage {
    background-color: #000;
    color: white!important;
}

h1{
  text-align: center;
  padding-top: 20px;
  font-family: Gill Sans Extrabold, sans-serif;
  color: #008080;
}

.table{
margin: auto;
width: 70% !important;
}
th[role=columnheader]:not(.no-sort) {
cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
content: '';
float: right;
margin-top: 7px;
border-width: 0 4px 4px;
border-style: solid;
border-color: #404040 transparent;
visibility: hidden;
opacity: 0;
-ms-user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
border-bottom: none;
border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
visibility: visible;
opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
visibility: visible;
opacity: 1;
}
