<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ags.css">
    <title>Home</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html"><img src="img/agsLogo.png" class="img-fluid" alt="All About You Header"></a>
        <!-- Image from http://vtexday.vtex.com/?attachment_id=8581&lang=en -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Client Information</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="sites.html">Sites</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="turbineKPI.html">TurbineKPI's<span class="sr-only">(current)</span></a>
            </li> -->
          </ul>
        </div>
      </nav>

      <div class="">
        <h1>Turbine KPI's</h1>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-3 turbineMenu">
            <nav class="navbar bg-info">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="turbineKPI.html">Turbine 1</a>
                </li>

              </ul>
            </nav>
          </div>

          <div class="col-sm-9" id="turbineDetailsContainer">
            <div class="row turbineData" v-for="turbine in turbines">
              <table  class="table table-striped table-sm">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td>Turbine Name</td>
                    <td>{{turbine.turbineName}}</td>
                    <td></td>
                    <td>Turbine Description</td>
                    <td>{{turbine.turbineDescription}}</td>
                  </tr>
                  <tr>
                    <td>Serial Number</td>
                    <td>{{turbine.serialNumber}}</td>
                    <td></td>
                    <td>Deployed Date</td>
                    <td>{{turbine.deployedDate}}</td>
                  </tr>
                  <tr>
                    <td>Last Unplanned Outage Date</td>
                    <td>{{turbine.lastUnplannedOutageDate}}</td>
                    <td></td>
                    <td>Last Planned Outage Date</td>
                    <td>{{turbine.lastPlannedOutageDate}}</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>{{turbine.capacity}}</td>
                    <td></td>
                    <td>Ramp Up Time</td>
                    <td>{{turbine.rampUpTime}}</td>
                  </tr>
                  <tr>
                    <td>Maintenance Interval</td>
                    <td>{{turbine.maintenanceInterval}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center" v-for="count in countSensors">
                  <button type="button" class="btn btn-info" @click="getChartsData(count)" style="margin:20px;"> Sensor {{count}}</button>
              </div>
              <br /><br /><br />
              <div class="container-fluid">
                <div class="row kpiData1" id="outputChart"> Output</div>
                <div class="row kpiData1" id="heatRateChart"> Heat Rate</div>
                <div class="row kpiData1" id="availabilityChart"> Availability</div>
                <div class="row kpiData1" id="compressorEfficiencyChart"> Compressor Efficiency</div>
                <div class="row kpiData1" id="reliabilityChart"> Reliability</div>
                <div class="row kpiData1" id="firedHoursChart"> Fired Hours</div>
                <div class="row kpiData1" id="tripsChart"> Trips</div>
                <div class="row kpiData1" id="startsChart"> Starts</div>
                <br />
                <a href="chartsDataTable.html" @click="goToData(turbine.turbineDeployedId)">{{turbine.turbineDeployedId}}View Data In Table</a>
              </div>
            </div>
          </div>

          </div>
        </div>
        <br /><br /><br />
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/turbineAndTurbineDeployed.app.js"></script>
</html>
